.DS_Store
.vscode/
.venv/
data/videos/
data/unexpected_vid/
*.mp4
logs/
*.pose
data_collection/scrape-SL/
data_collection/scrape-SL/main.py
experimet_single_sign/results/
.gitattributes/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache
MP
secrets/